@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

.App {
  text-align: center;
  height: 50vh;
}

.home{
  width: 100vw;
  height: 100vh;
  color: #282c34;
}

.container {
  width: 6vw;
  height: 4vh;
  color: #FFFFFF; 
  background-color: #282C34;
}
